<html>
  <body>
    <style type="text/css">
      body {
  margin: 0pt;
  padding: 0pt;
  background: #000000;
  color: #333333;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 0.75em;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
}

#container {
  background: #FFFFFF;
  height: 100%;
  margin: 0pt auto 0pt auto;
  padding: 0pt;
  position: relative;
  text-align: left;
  width: 755px;
}

#header {
  background: #FFFFFF;
  postition: relative;
  width: 755px;
  margin: 0px;
  padding: 0px;
}

#logo {
  text-align: center;
}

#content {
  padding-bottom: 15px;
  width: 535px;
  background: #FFFFFF;
  margin-top: 6px;
  padding: 10px;
}

#footer {
  background: #000000;
  position: absolute;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
}

#info {
  background: #000000;
  font-size: 1.4em;
  color: #986F33;
  text-align: center;
  width: 755px;
  font-weight:bold;
  border-top: 5px solid #986F33;
  line-height: .3;
}

#copyright {
  font-size: 0.9em;
  background: #000000;
  color: #FFFFFF;
  text-align: center;
  width: 755px;
  line-height: .3;
}

#company_name {
  font-weight: bold;
  font-style: normal;
}

#content h2 {
  margin: 13px 0pt 4px;
}

h2 {
  font-weight: normal;
  line-height: 1.2em;
}
    </style>
    <div id="container">
      <div id="header">
        <div id="logo">
          <img src='cid:graffitiTrackerLogo' border="0"/>
        </div>
      </div>
      <div id="content">
        <div>
          ${content}
        </div>
      </div>
      <div id="footer">
        <div id="info">
        </div>
        <div id="copyright">
          <p>Copyright &copy; ${copyrightYear} <span id="company_name">Whalecopter Productions</span></p>
        </div>
      </div>
    </div>
  </body>
</html>